.instagram {
  display: inner-block;
  justify-content: center;
	align-items: center;
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 70px;
	box-shadow: 10px 15px 5px 3px #888888;
	
  background-image: 
		radial-gradient(circle at 70% 28%, white 0%, white 5%, transparent 5%, transparent 100%), 
		
		radial-gradient(circle farthest-corner at 55% 90%, #F8D46C, transparent 0%), 
		
		radial-gradient(circle farthest-corner at 0 120%, #fec564, transparent 50%), 
		
		radial-gradient(ellipse farthest-corner at 2% -35%, #5258cf, transparent 50%), 

		radial-gradient(ellipse farthest-corner at 56% -35%, #ff632f, transparent 20%),
		
		radial-gradient(ellipse farthest-corner at 0 120%, #ff632f, transparent 1%), 
		
		radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
		
		radial-gradient(ellipse farthest-corner at 80% 50%, #a85ddd, transparent), 
		
		linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%, #4F64C5 100%);

}
  .instagram::after,
  .instagram::before {
    content: "";
    display: inner-block; 
    width: 300px;
    height: 300px;
    position: absolute;
  }
  
  .instagram::before {
    border-radius: 30% 30% 30% 30% / 30% 30% 30% 30% ;
    border: 21px solid white;
    width: 200px;
    height: 200px;
    margin: 30px 0px 50px -120px;
  }
  
  .instagram::after {
    border: 19px solid white;
    border-radius: 60px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 95px 0px 0px -60px;
  }
